---
layout: home.liquid
title: Home
permalink: /
description: Luca Pette's website
---

<section>
  <div class="hero">
    <div class="description">
      <h1>Hi, I'm Luca :)</h1>
      <p>
        I'm an independent software developer. I use this website to share
        my <a href="/writing">writing</a>.
      </p>
    </div>
    <div class="decoration">
      <figure class="me image">
        {% image "assets/me.png", "Luca Pette", "(max-width: 600px) 128px, 800px", 128 %}
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column">
      <h2 class="year">Latest writing</h2>
      <ul class="articles">
        {% for item in collections.writings limit: 5 %}
          <li class="article">
            <a href="{{ item.url }}">
              <span>{{ item.data.title }}</span>
              <span class="date">{{ item.date | formatDateShort }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <h2 class="year">Highlights</h2>
      <ul class="articles">
        {% for item in collections.favouriteWritings %}
          <li class="article">
            <a href="{{ item.url }}">
              <span>{{ item.data.title }}</span>
              <span class="date">{{ item.date | formatDateShort }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
