---
layout: base.liquid
title: Home
permalink: /
description: Luca Pette's website
---
<section>
  <div class="hero">
    <div class="description">
      <h1>Hi, I'm Luca :)</h1>
      <p>I'm an independent software developer. I use this website to share my writing.</p>
    </div>
    <div class="decoration">
      <figure class="me image">
        {% image "assets/me.png", "Luca Pette", "(max-width: 600px) 128px, 800px", 128 %}
      </figure>
    </div>
  </div>
</section>
<section>
  <h2 class="feed-title writing-icon">{% lucide "pen-tool" %} Latest writing</h2>
  <ul class="feed">
    {% for item in collections.writings limit: 5 %}
      <li class="entry">
        <a href="{{ item.url }}">
          <span>{{ item.data.title }}</span>
          <span class="date">{{ item.date | formatDateShort }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2 class="feed-title highlights-icon">{% lucide "star" %} Highlights</h2>
  <ul class="feed highlights">
    {% for item in collections.favouriteWritings %}
      <li class="entry">
        <a href="{{ item.url }}">
          <span>{{ item.data.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section>
  <h2 class="feed-title notes-icon">{% lucide "sticky-note" %} Latest notes</h2>
  <ul class="feed">
    {% for item in collections.notes limit: 5 %}
      <li class="entry">
        <a href="{{ item.url }}">
          <span>{{ item.data.title }}</span>
          {% if item.data.tags %}
            <span class="meta">
              {% for tag in item.data.tags limit: 2 %}
                <span class="tag">#{{ tag }}</span>
              {% endfor %}
            </span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
