---
layout: base.hbs
title: Reading
permalink: /reading/
description: Notes on books I've read
---

<h1>Reading</h1>

{{#if collections.reading.length}}
    <div class="books-grid">
        {{#each collections.reading}}
            <a href="{{this.url}}">
                <article class="book-card">
                    <div class="book-card-cover">
                        <img
                            src="/assets/reading/{{this.fileSlug}}.jpg"
                            alt="Cover of {{this.data.title}}"
                            loading="lazy"
                        />
                    </div>
                    <footer class="book-card-info">
                        <h3>{{this.data.title}}</h3>
                        {{#if this.data.author}}
                            <p class="book-card-author">{{this.data.author}}</p>
                        {{/if}}
                    </footer>
                </article>
            </a>
        {{/each}}
    </div>
{{else}}
    <p>No reading notes yet. Check back soon!</p>
{{/if}}
