<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if title %}
    {% if title == "Home" %}
      <title>Luca Pette</title>
    {% else %}
      <title>{{ title }} - Luca Pette</title>
    {% endif %}
  {% else %}
    <title>Luca Pette</title>
  {% endif %}
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}Luca Pette{% endif %}" />
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Luca Pette" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@lucapette" />
  <link rel="stylesheet" href="/assets/css/bundle.css" />
  <link rel="stylesheet" href="/assets/css/prism-nord.css" />
  <link rel="stylesheet" href="/assets/css/prism-line-numbers.css" />
  <link href="/atom.xml" rel="alternate" title="Luca Pette" type="application/atom+xml" />
  <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{% if tags %}{{ tags | join: ", " }}{% endif %}{% endif %}" />
</head>
