---
layout: base.liquid
---
<section>
  <h1 class="title">{{ title }}</h1>

  <nav class="level">
    <div class="left">
      <p class="is-size-6">
        {% if author -%}
          By {{ author -}}
          <br>
        {% endif %}
        Published in
        {% if tags %}
          {% for tag in tags %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
            {%- unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% endif %}
        on
        {{ date | formatDate }}
      </p>
    </div>
  </nav>
  <hr>

  <div class="content">
    {{ content }}
  </div>
</section>

{% assign related = collections.relatedWritings[page.url] %}
{% if related %}
  <section>
    <h3 class="year">See also</h3>
    <ul class="articles">
      {% for item in related %}
        <li class="article">
          <a href="{{ item.url }}">
            <span>{{ item.data.title }}</span>
            <span class="date">{{ item.date | formatDate }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{% include 'copy-code.liquid' %}
