---
layout: base.liquid
---

<section>
  <h1 class="title">{{ title }}</h1>

  <nav class="level">
    <div class="left">
      <p class="is-size-6">
        Published in
        {% if tags %}
          {% for tag in tags %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% endif %}
        on
        {{ date | formatDate }}
      </p>
    </div>
  </nav>
  <hr />

  <div class="content">
    {{ content }}
  </div>
</section>

{% assign related = collections.relatedWritings[page.url] %}
{% if related %}
<section>
  <h3 class="year">See also</h3>
  <ul class="articles">
    {% for item in related %}
      <li class="article">
        <a href="{{ item.url }}">
          <span>{{ item.data.title }}</span>
          <span class="date">{{ item.date | formatDate }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
<script>
  document.querySelectorAll("pre > code").forEach((codeBlock) => {
    const copyButton = document.createElement("button");
    copyButton.classList.add("copy-code");
    copyButton.innerHTML = "copy";

    function copyingDone() {
      copyButton.innerHTML = "copied!";
      setTimeout(() => {
        copyButton.innerHTML = "copy";
      }, 2000);
    }

    copyButton.addEventListener("click", (cb) => {
      if ("clipboard" in navigator) {
        navigator.clipboard.writeText(codeBlock.textContent);
        copyingDone();
        return;
      }

      const range = document.createRange();
      range.selectNodeContents(codeBlock);
      const selection = window.getSelection();
      selection.removeAllRanges();
      selection.addRange(range);
      try {
        document.execCommand("copy");
        copyingDone();
      } catch (e) {}
      selection.removeRange(range);
    });

    const container = codeBlock.parentNode.parentNode;

    container.appendChild(copyButton);
  });
</script>
