---
layout: base.liquid
---
<section>
  <h1 class="title">{{ title }}</h1>

  <nav class="meta">
    <div class="left">
      <p class="is-size-6">
        {% if tags %}
          {% for tag in tags %}
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
            {%- unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% endif %}
        {% assign parts = page.url | split: '/' %}
        in <a href="/notes/{{ parts[2] }}/">{{ parts[2] | capitalize }}</a>
      </p>
    </div>
  </nav>
  <hr>

  <div class="content">
    {{ content }}
  </div>
</section>

{% include 'copy-code.liquid' %}
